.EmpiIdFeild{
    padding: 10px;
    width: 200px;
    border-radius: 8px;
}

.PasswordFeild{
    padding: 10px;
    width: 200px;
    border-radius: 8px;

}
.Login{
    display:flex;
    flex-direction: column;
    margin-top: 230px;
    border: solid black 2px;
}